#catalogue-search .tp-autocomplete__input,
.scalenet-input {
  @apply box-border px-4 py-4 text-sm w-full;
  background-color: #eaeaeb;
}

#catalogue-search {
  .tp-autocomplete__input {
    padding-left: 2rem;
    width: 400px;
  }
}
